{% extends "base.html" %}

{% block title %}Reset Your Password.{% endblock %}
{% block content %}
<style>
        .container {
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

</style>

<div class="container" style="text-align: center; margin-top: 10%;" >
    <h1>Forgotten your password?</h1>
    <p>Enter your e-mail address to obtain a new password.</p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <p><input type="submit" value="Send e-mail" class="btn btn-success" style="margin-left: 50px;"></p>
    </form>
</div>

{% endblock %}