{% extends 'base.html' %}
{% block content %}

<h3>&nbsp&nbsp Available stops in {{region.capitalize}}
<a href = "{% url 'stops:create_stop' %}"><button type="button" class="btn btn-light">Add</button></a> </h3> 
<ul class="list-group">
    {% for stop in stops %}
            <br><a href="{% url 'stops:stop-details' stop.pk %}">
            <li class="list-group-item list-group-item-success" style="background-color: #B0C4DE">  {{stop.location}} </li>
            </a> 
            
            <div>
                <a href = "{% url 'stops:update-stop' stop.pk %}"><button type="button" class="btn btn-light"> Update </button></a> 
                <a href = "{% url 'stops:delete-stop' stop.pk %}"><button type="button" class="btn btn-light"> Delete </button></a>
            </div>

            
    {% endfor %}
</ul>

{% endblock %}

