{% extends 'base.html' %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
 


<div class="container">
  <h2>{{stop.letter}} stop </h2>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">Location</div>
      <div class="panel-body">{{stop.location}}</div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Transports</div>
      <div class="panel-body">
          <p>{% for transport in stop.transports.all %}
              <a href="{% url 'transportation:details' t_type=transport.type pk=transport.pk %}">{{ transport }} </a> &nbsp;&nbsp;
          {% endfor %}
          </p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
{% endblock %}
