{% load static %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">


<link rel="stylesheet" href="{% static '/transport/css/navbar.css' %}">

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
      <!-- Search form -->
      
  
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left links -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 w-100 d-flex justify-content-evenly">
          <li class="nav-item">
            <a class="nav-link active flex-column text-center" aria-current="page" href="{% url 'transportation:index' %}"><i class="fas fa-home fa-lg"></i><span class="small "> Home</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link flex-column text-center" aria-current="page" href="{% url 'transportation:about_us' %}"><i class="fas fa-user-friends fa-lg"></i><span class="small "> About Us</span></a>
          </li>
          
            <div class="dropdown">
              <button class="btn dropdown-toggle log_reg_button" type="button" data-bs-toggle="dropdown">
                <img
                src="https://bootdey.com/img/Content/avatar/avatar7.png"
                class="rounded-circle"
                height="30"
                alt=""
                loading="lazy"
              />Hello, {{ request.user.first_name|default:request.user.username}}</button>
              <ul class="dropdown-menu log_reg_drop">
                {% if request.user.is_authenticated %}
                  <li class="px-2"><a class="navbar-brand" href="{% url 'profile' %}">My profile</a></li>
                  <li class="px-2"><a class="navbar-brand" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                  <li class="px-2"><a class="navbar-brand" href="{% url 'login' %}">Login</a></li>
                  <li class="px-2"><a class="navbar-brand" href="{% url 'register' %}">Sign Up</a></li>
                {% endif %}
              </ul>
            </div>
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Navbar -->