{% extends 'base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Transport Details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    .star {
      color: #FFC107;
    }
  </style>
</head>
<body>
<div class="container">
  <h2 >N{{ transport.number }} {{ t_type.capitalize }} <p id="stars"></p></h2>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">Route</div>
      <div class="panel-body">{{ transport.route }}</div>
    </div>

</div>
<script>
  var avgRate = {{ avg_rate }};
  var starHtml = '';
  for (var i = 1; i <= 5; i++) {
    if (i <= avgRate) {
      starHtml += '<i class="fa fa-star star"></i>';
    } else {
      starHtml += '<i class="fa fa-star-o star"></i>';
    }
  }
  document.getElementById('stars').innerHTML = starHtml;
</script>
</body>
</html>

{% endblock %}